.ip-search {
  height: 50px;
  min-width: 100px;
  width: 500px;
}
.search-btn {
  height: 50px;
  width: 50px;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: black;
}

label {
  font-family: var(--main-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--dark-gray);
}

p {
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--very-dark-gray);
}

.line {
  height: 75px;
  width: 1px;
  background-color: hsl(0, 0%, 87%);
}
