:root {
  --main-font-family: "Mukta", sans-serif;
  --input-font-size: 18px;
  --font-size: 30px;
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --heavy-font-weight: 700;
  --medium-font-weight: 500;
  --light-font-weight: 400;
}

.card {
  min-width: 1000px;
  max-width: 1400px;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

.ip-search {
  height: 50px;
  min-width: 100px;
  width: 500px;
}
.search-btn {
  height: 50px;
  width: 50px;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: black;
}

label {
  font-family: var(--main-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--dark-gray);
}

p {
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--very-dark-gray);
}

.line {
  height: 75px;
  width: 1px;
  background-color: hsl(0, 0%, 87%);
}
