.ip-search {
  height: 50px;
  min-width: 100px;
  width: 500px;
}
.search-btn {
  height: 50px;
  width: 50px;
  background-color: black;
}

label {
  font-family: var(--main-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--dark-gray);
}

p {
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--very-dark-gray);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  width: 500px;
  margin: 10px auto 0 auto;
}
.search-bar input {
  outline: none;
  padding: 0 15px;
  border: none;
}

.search-bar input:focus,
.search-bar input:active,
.search-bar input:hover {
  outline: none;
  border: none;
}

@media screen and (max-width: 500px) {
  .search-bar {
    width: 100%;
  }
}
