.card-inside {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
  position: absolute;
  z-index: 1;
}

.line {
  height: 75px;
  width: 1px;
  background-color: hsl(0, 0%, 87%);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media screen and (max-width: 500px) {
  .card {
    margin-top: 9rem;
    position: relative;
  }
  .card-inside {
    margin: 0 40px;
  }

  .line {
    display: none;
  }
  .card-inside {
    flex-direction: column;
    align-items: center;
  }
}

/* media query for ipad devices */
@media screen and (max-width: 768px) {
  .card-inside {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 9rem;
    position: relative;
  }
  .card-inside {
    margin: 0 40px;
  }
  .line {
    display: none;
  }
}
